*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
p{
    margin-left: 50px;
    font-size: 18px;
}
.container-header{
    display: flex;
    justify-content: space-between;
    background-color:#202020;
    border: #95C629 solid 8px;
    position: sticky;
    top: 0;
}
.menu img{
    width: 30px;
    height: 30px;
    margin-top: 4px;
    margin-left: 4px;
}
.menu{
    border: solid #95C629;
    border-radius: 50%;
    background-color: #95C629;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
}
.titulo img{
   width: 200px;
}
.carrito img{
    width: 30px;
    height: 30px;
    margin-top: 4px;
    margin-left: 4px;
}
.carrito{
    border: solid #95C629;
    border-radius: 50%;
    background-color: #95C629;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
}
.container-principal{
    background: linear-gradient(0deg, rgba(149,198,41,1) 0%, rgba(0,0,0,1) 80%);
}
.container-button{
    width: 100px;
    margin-left: auto; 
    margin-right: auto;
}
.mostrar-button{
    background-color: #95C629;
    border-radius: 10px;
    border: 2px solid #202020;
    padding: 8px 16px;
    font-size: large;
    margin-top: 20px;
}
.pantalones-list{
    display: flex;
    justify-content: center;
}
.container-pantalones-list{
    background-color: #202020;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-color: #95C629;
    color: white;
}
.pantalones-datos img {
    width: 200px;
    height: 200px;
}
td, th{
    padding: 10px;
}
th{
    background-color: #95C629;
}
.container-formulario{
    background-color: black;
    color: #95C629;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.email-suscribir{
    background-color: white;
    padding: 4px;
    border-radius: 10px;
    border: 2px solid #95C629;
    font-size: large;
}
.submit-button{
    background-color: #95C629;
    border-radius: 10px;
    border: 2px solid #202020;
    padding: 8px;
    font-size: large;
}
.social-medias-icons{
    background-color: black;
    margin-top: -5px;
    height: auto;
}
ul, li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px; 
}
.social-medias-icons img{
    width: 44px;
}
@media screen and (max-width: 640px){
    .container-principal img{
        width: 100px;
        height: 100px;
        margin: 0px;
    }
}